.waste {
        padding-top: 10%;
        padding-left: 10%;
        }

.panel {
            width: 50%;
        }

#hw {
        font-weight: bold;
        font-family: cursive;
        color: red;
    }