.waste {
        padding-top: 10%;
        padding-left: 10%;
        }

.panel {
            width: 50%;
        }

#hw {
        font-weight: bold;
        font-family: cursive;
        color: red;
    }

    #mw {
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        color: blueviolet;
    }

    #yw {
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        color: gold;
    }